.instagram-wraper{ /* Rewriting */
    height: 100vh;
}
.instagram-access{/* Right side */
    min-height: 25rem;
}
.group{ /* Rewriting */
    margin-top: 10px;
}
.group:nth-child(1){ 
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 15rem;
}
.profile-photo{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden; /* Img não exceder o tamanho da div para fora (partes quadradas) */
}
.profile-photo img{
    height: 6rem;
}
.login-instagram-button{/* Rewriting */
    width: 50%;
}
.not-continue{
    margin-top: 20px;
}