.instagram-wraper{
    flex-direction: column;
    width: 100%;
}
.header{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 12%;
    text-align: left;
    padding-left: 15%;
    background-color: #FFF;
}
.logo-instagram{
    height: 2em;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FAFAFA;
    width: 100%;
    height: 100%;
    border:  1px solid lightgray;
}
.instagram-access{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid lightgray;
    text-align: center;
    width: 30em;
    height: 20em;
}
.logo-cadeado {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('./../img/instagram-reset-password.png');
    background-position:center no-repeat;
    background-size: auto; 
    overflow: hidden; /* Img não exceder o tamanho da div para fora (partes quadradas) */
    width: 8em;
    height: 9.5em;
    margin-top: 5%;
}
.text-title {
    width: 80%;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
}
.text-content{
    width: 80%;
    color: rgba(var(--f52,142,142,142),1);
    font-weight: 400;
    line-height: 18px;
}
.login-instagram{
    margin-top: 10px;
}
.content-line{
    margin-top: 10px;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FAFAFA;
    border: 1px solid lightgray;
    width: 100%;
    height: 10%;
    margin-top: 10%;
}
.link-black{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: 800;
    height: 10%;
}