.instagram-wraper{/* Rewriting */
    flex-direction: column;
    justify-content: center; 
}
.group{/* Rewriting */
    padding-top: 10px;
    padding-bottom: 10px;
}
.msg-top{/* Don't have an account? OR Not byheviane? OR Get the app*/
    width: 65%; 
    color: rgba(var(--f52,142,142,142),1);
    font-size: 17px;
    font-weight: 600;
    line-height: 20px;
    margin: 0 40px 10px;
    text-align: center
}
.msg-bottom{
    color: rgba(var(--f52,142,142,142),1);
    font-size: 12px;
    line-height: 16px;
    margin: 10px 40px;
    text-align: center;
}
.msg-bottom > a {
    color: rgba(var(--f52,142,142,142),1);
    font-size: 12px;
    line-height: 16px;  
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    font-weight: 0;
}
.group:nth-child(1){ 
    margin-top: 13px;
}
.group:nth-child(2){ 
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    margin-top: 7px;
}
.login-instagram{/* Rewriting */
    margin-top: 5px;
}
.login-facebook{/* Rewriting */
    width: 80%;
}